<div class="5grid-layout">
    <div class="row">
        <div class="12u">
            <div id="banner">
                <div class="image-box"><a href="#"><img src="/images/img06.jpg" alt=""></a>
                    <div class="caption"> <span>Phasellus Etiam Consequat Lorem Ipsum Etiam Veroeros</span> <a href="#" class="button">Amet Consequat</a> </div>
                </div>
            </div>
            <div class="shadow"><a href="#"><img src="/images/img07.jpg" width="1200" height="50" alt=""></a></div>
        </div>
    </div>
</div>
