<head>
<title>{{ page_title }}</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="description" content="" />
<meta name="keywords" content="" />
<noscript>
<link rel="stylesheet" href="/css/5grid/core.css" />
<link rel="stylesheet" href="/css/5grid/core-desktop.css" />
<link rel="stylesheet" href="/css/5grid/core-1200px.css" />
<link rel="stylesheet" href="/css/5grid/core-noscript.css" />
<link rel="stylesheet" href="/css/style.css" />
<link rel="stylesheet" href="/css/style-desktop.css" />
</noscript>
<script src="/css/5grid/jquery.js"></script>
<script src="/css/5grid/init.js?use=mobile,desktop,1000px&amp;mobileUI=1&amp;mobileUI.theme=none&amp;mobileUI.openerWidth=52"></script>
<!--[if IE 9]><link rel="stylesheet" href="/css/style-ie9.css" /><![endif]-->
<link rel="stylesheet" href="/css/pygments.css" />
</head>
